/* ==== wallet */
.wallet {
    position: relative;
    margin-bottom: var(--gap-cont);
    padding: 9px 27px;
}

.wallet>h3 {
    position: absolute;
    top: 15px;
    left: 35px;

    font-size: var(--ft-size-info);
}

.wallet>h3::after {
    content: " :";
    position: absolute;
    top: 3px;
    left: 42px;

    font-size: 12px;
}

.wallet>span {
    display: block;
    width: 306px;
    height: 32px;
    padding: 0 10px;

    background-color: var(--color-display);
    border-radius: 5px;

    font-size: var(--ft-size-info);
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

.wallet>span::after {
    content: "ì›";
}

/* ===== output-section */
.output-section {
    padding: 25px 27px;
}

.output-section>h2 {
    margin-bottom: var(--gap-item);
    text-align: center;
}

/* dispenser-list */
.dispenser-list {
    width: 306px;
    height: 364px;
    margin-bottom: var(--gap-item);

    background-color: var(--color-display);
    border-radius: 5px;
    border: 1px solid var(--color-lgray);
}

.dispenser-list>li>button {
    width: 276px;
}

.dispenser-list .item-name {
    margin-right: 120px;
}

/* total-price */
.total-price {
    text-align: right;
    font-weight: 700;
}

.total-price>strong::after {
    content: " : ";
    font-size: 10px;
}

.total-price>span::after {
    content: " ì›";
}